/* General styles */
/* body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
  }
   */
  .container {
    max-width: 800px;
    /* margin: 20px auto; */
    padding: 20px;
    background-color: #fff; /* Adjust if needed */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Form and Select styles */
  form {
    margin-bottom: 20px;
  }
  
  .select-field {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
  .search-main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .search-main-sub{
    display: flex;
    width: 20%;
  }
  .search-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    margin: 0px !important;
    width: 100% !important;
  }
  
  .search-btn:hover {
    background-color: #0056b3;
  }
  

  .table-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
  }
  /* Table styles */
  table {
    width: 70%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid #ddd;
  }
  
  th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  /* Button inside table cell */
  td button {
    padding: 8px 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  td button:hover {
    background-color: #0056b3;
  }
  
  /* Alternate row color */
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  