.home-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap: 1rem; 
}

.card {
  margin-top: 10rem;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  /* height: 10rem; */
  max-width: 5rem;

}

.card h3 {
  margin-top: 0;
}

.card button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 2.5rem;
}

.card button:hover {
  background-color: #0056b3;
}


